* {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
}

button {
  display: block;
  background-color: rgb(144, 107, 178);
  margin: auto;
}

p {
  text-align: center;
}

input {
  margin: auto;
}

.header {
  color: blueviolet;
  text-align: center;
}

.buttons {
  display: block;
  justify-content: center;
}