button {
  background-color: rgb(144, 107, 178);
  margin: auto;
}

div {
  margin: 0 auto;
  display: block;
}

input {
  margin: auto;
}

form {
  display: flex;
  justify-items: center;
}

p {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.container {
  display: flex;

}

.header {
  color: blueviolet;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}