button {
  background-color: rgb(144, 107, 178);
  margin: auto;
}

input {
  margin: auto;
}

.container {
  display: flex;
}

.header {
  color: blueviolet;
  text-align: center;
}

.buttons {
  display: flex;
  justify-content: center;
}